.container {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tableau {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(175px,auto);
    width: 50%;
}
.case {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
.B {
    width: 100%;
    height: 100%;
    border: 0;
}

.B-player-1-clicked{
    background: url(images/0.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
    border: 0;
}

.B-player-2-clicked{
    background: url(images/xX.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
    border: 0;
}

#case1 {
    border: solid 1px;
    width: 100%;
    height: 100%;   
}
#case2 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
#case3 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
#case4 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
#case5 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
#case6 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
#case7 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
#case8 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
#case9 {
    border: solid 1px;
    width: 100%;
    height: 100%;
}
